.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
}

.article-card {
    background-color: var(--White);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    height: auto; 
}

.img-card {
    border-radius: 15px 15px 0 0;
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.articles-section-headline {
    font-weight: 300;
    color: var(--DarkBlue);
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center; 
}

.card-content {
    padding: 15px;
    flex-grow: 1; 
}

.card-writer {
    font-size: 0.8rem;
    color: var(--GrayishBlue);
    margin-bottom: 15px;
}

.card-title {
    font-weight: 300;
    color: var(--DarkBlue);
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-paragraph {
    color: var(--GrayishBlue);
}

@media screen and (max-width: 768px) {
    .articles {
        grid-template-columns: 1fr; 
    }

    .img-card {
        height: 150px; 
    }

    .articles-section-headline {
        font-size: 1.5rem; 
    }

    .card-title {
        font-size: 1rem; 
    }

    .card-paragraph {
        font-size: 0.9rem; 
    }
}
